.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: fit-content;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

.rates {
  display: flex;
  gap: 20px;
  font-size: 16px;
}
